// mobile version
.assistance {
  margin-top: 30px;
}
.assistance__title {
  text-align: left;
  font-size: 22px;
  line-height: 28px;
  color: #1D1D39;
}
.assistance__description {
  margin-top: 20px;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}
.assistance__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.assistance__image {
  display: block;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.assistance__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100%;
  height: 60px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #03973D;
}
.assistance__help {
  margin-top: 15px;
}
.assistance__help-link {
  color: #039BE6;
}

// tablet version
@media (min-width: $tablet-width) {
  .assistance {
    margin-top: 80px;
  }
  .assistance__container {
    display: flex;
    justify-content: space-between;
  }
  .assistance__block {
    width: 45%;
  }
  .assistance__image {
    padding-bottom: 0px;
  }
}

// desktop version
@media (min-width: $desktop-width) {
  .assistance {
    padding-bottom: 180px;
  }
  .assistance__title {
    font-size: 36px;
    line-height: 48px;
  }
  .assistance__block {
    width: 560px;
  }
  .assistance__description {
    width: 473px;
    margin-top: 60px;
    font-size: 14px;
    line-height: 26px;
  }
  .assistance__image {
    width: 395px;
    height: 350px;
  }
  .assistance__flex {
    margin-top: 40px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .assistance__button {
    width: 189px;
    margin: 0;
    margin-right: 31px;
    font-size: 14px;
    line-height: 26px;
  }
  .assistance__help {
    margin: 0;
    padding: 20px;
    font-size: 14px;
    line-height: 21px;
  }
}
