// mobile version
.offer__item {
  padding: 20px;
  margin-top: 30px;
  background-color: #F2F3F8;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.offer__block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.offer__title {
  width: 75%;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
}
.offer__description {
  margin-top: 15px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
}

// tablet version
@media (min-width: $tablet-width) {
  .offer__list {
    display: flex;
    justify-content: space-between;
  }
  .offer__item {
    width: 25%;
  }
  .offer__block {
    flex-direction: column;
  }
  .offer__title {
    margin-top: 30px;
    width: 100%;
  }
}
