// mobile version
.social {
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
.social__item {
  margin-top: 20px;
}

// tablet version
@media (min-width: $tablet-width) {
  .social {
    width: 400px;
  }
}
